<div class="mt-5">
  <h1>Mes projets</h1>
  <a
    routerLink="/projects/new"
    class="card-link"
    *ngIf="auth.isAuthorizedAdmin()"
    >Ajouter un projet</a
  >
  <ul class="list-group d-flex">
    <li class="list-group-item" *ngFor="let p of projects">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h4 class="card-title">{{ p.title }}</h4>
            <div>
              <span
                class="badge badge-pill"
                [class.badge-danger]="avgCalculator(p) <= 20"
                [class.badge-warning]="avgCalculator(p) <= 50"
                [class.badge-success]="avgCalculator(p) === 100"
                [class.badge-info]="
                  avgCalculator(p) > 50 && avgCalculator(p) < 100
                "
              >
                {{ avgCalculator(p) }} %</span
              >
            </div>
          </div>
          <h6
            class="card-subtitle mb-2 text-muted"
            *ngIf="p.customer.length > 0"
          >
            {{ p.customer[0].firtName }} {{ p.customer[0].lastName }} vs
            {{ p.adversary }}
          </h6>
          <p class="card-text">
            {{ p.shortDescription }}
          </p>
          <a routerLink="/projects/{{ p.id }}" class="card-link text-right"
            >Details</a
          >
        </div>
      </div>
    </li>
  </ul>
</div>
